.status {
    font-family: monospace;
}

.equals-cell {
    padding: 4px;
    font-weight: bold;
    background-color: #fcfcfc;
}

.result-cell {
    padding: 4px;
    background-color: #fcfcfc;
}

.result-cell.result-cell-stripe {
    background-color: #f3f6f6;
}

.result-cell border {
    border-style: none;
}

.result-tuple {
    border: 1px solid #e5e5e5;
}
